html {
				background: url(img/sun.jpg);
                
					}

			body {
				width: 1000px;
				height: auto;
				padding: 0;
				margin: 0 auto;
				font-family: Arial, sans-serif;
				background-color: #FECCFF;
				background-image: url(img/wave.jpg);
				background-repeat: no-repeat;
				padding-top: 210px;
				border-left: 1px solid violet ;
				border-right: 1px solid violet;
                border-bottom: 1px solid violet;
					}

				#hr1 {
				background-color: rgba(255, 255, 255, .2);
				height: 103px;	
				}
				
				h1 {
				color: #FF65FF;
				font-size: 45px;
				padding: 25px 0 0 40px;
				text-shadow: rgba(0, 0, 0,  .5) 0px 2px 2px;
				}
				
				h2 {
				font-style: italic;
				}
				
				p {
				width: 960px;
				padding-left: 20px;
				text-indent:50px;
				}
				
				#p1 {
				width: 960px;
				text-indent:50px;
				padding-left: 20px;
				font-style: Arial;
				font-size: 20px;
				
				}
                
                #p2 {
				width: 960px;
				text-indent:50px;
				padding-left: 20px;
				font-style: Arial;
				font-size: 20px;
				}
				
				h2 {
				border-bottom: 2px solid violet;
				margin: 20px 30px 0 30px;
				padding-top: 20px;
				}
				
				
				#ul1 {
				width: 930px;
				text-indent:30px;
				font-family: italic;
				font-size: 20px;	
				}
				
				nav {
				width: 1000px;
				margin: 0 auto;
				}
				
				.menu {
				overflow: hidden;
				background: linear-gradient(to top, violet, darkviolet);
				position: fixed; 
				top: 0; 
				width: 1000px; 
				height:48px;
				border-radius: 0px 0px 35px 35px;
					}
 
				.ul2 li {
				float:right;
				}
				
				.ul2 li a{
				display: block;
				color: white;
				height: 50px;
				padding: 0 30px;
				text-transform: uppercase;
				text-decoration: none;
				line-height:50px;
				
				}
				
				.ul2 {
				margin: 0;
				list-style: none;
				height: 50px;
				}
				
				.ul2 li a:hover {
				background: #CA75FF;
				}
			     
              hr {
                border: 0;
                height: 2px;
                background: #000;
                background-image: -webkit-linear-gradient(left, #fff, #000, #fff);
                background-image: -moz-linear-gradient(left, #fff, #000, #fff);
                background-image: -ms-linear-gradient(left, #fff, #000, #fff);
                background-image: -o-linear-gradient(left, #fff, #000, #fff);
                }
			     
                h6 {
                   margin: 16px; 
                }

                 footer {
                margin: 0;
                display: block;
				color: white;
				height: 50px;
				padding: 0;
				line-height:50px;
                border-top: 1px solid violet;
                background: linear-gradient(to top, darkviolet,  violet);
                    }

                #back {
                display: block;
				width: 100px;
				text-indent:16px;
				font-size: 14px;
				border-top: 1px solid grey;
				border-bottom: 1px solid grey;
                border-right: 1px solid grey;
                background-color: antiquewhite;
                border-radius: 0px 20px 20px 0px;
                    }

                #back a{
                display: block;
				color: black;
				height: 50px;
				text-transform: uppercase;
				text-decoration: none;
				line-height:55px;
                    }
                
                #back:hover {
                background: whitesmoke;
                    }